name: test

on: [push]

permissions: read-all

jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: code
        uses: actions/checkout@v4

      - name: go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.26

      - name: test
        run: |
          go get -v -t -d ./...
          go test -short -cover -coverprofile=coverage.out -covermode=atomic ./...
